{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Qash - {% trans 'Crypto Exchange Dashboard UI Kit' %}</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
    <!-- Custom Stylesheet -->

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div id="preloader"><i>.</i><i>.</i><i>.</i></div>

    <div id="main-wrapper">
        <div class="authincation">
            <div class="container h-100">
                <div class="row justify-content-center h-100 align-items-center">
                    <div class="col-xl-5 col-md-6">
                        <div class="text-center mb-4">
                            <a href="{% url 'home:intro' %}"><img height="50px" height="50px" src="{% static 'images/logo.svg' %}" alt=""></a>
                            <h4 class="card-title mt-3">{% trans "Reset Your Password" %}</h4>
                        </div>
                        <div class="auth-form card">
                            <div class="card-body">
                                {% load i18n %}
                                {% if token_fail %}
                                {% url 'account_reset_password' as passwd_reset_url %}
                                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                                {% else %}
                                    {% if form %}
                                        <form class="signup" id="signup_form" method="POST" action="{{ action_url }}">
                                    {% csrf_token %}
                                    {% if request.method.lower == 'post' %}
                                        <p class="text-danger">
                                            {% trans "Invalid password format or the Passwords don't match" %}
                                        </p>
                                    {% endif %}
                                    <div class="col-12">
                                        <input type="password" class="form-control" minlength="8" placeholder="New Password" name="password1" required>
                                    </div>
                                    <div class="col-12 py-2">
                                        <input type="password" class="form-control my-2" placeholder="New Password (Again)"
                                            name="password2" required>
                                    </div>
                                    <div class="text-center">
                                        <input type="submit" name="action" value="{% trans 'change password' %}" class="btn btn-primary btn-block">
                                    </div>
                                </form>
                                    {% else %}
                                        <p>{% trans 'Your password is now changed.' %}</p>
                                    {% endif %}
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/feather/feather.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script></script>
</body>

</html>
