{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Qash - {% trans 'Crypto Exchange Dashboard UI Kit' %}</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
    <!-- Custom Stylesheet -->

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div id="preloader"><i>.</i><i>.</i><i>.</i></div>

    <div id="main-wrapper">

        <div class="authincation">
            <div class="container h-100">
                <div class="row justify-content-center h-100 align-items-center">
                    <div class="col-xl-4 col-md-5">
                        <div class="text-center my-3 brand-logo">
                            <a href="{% url 'intro' %}"><img height="50px" width="50px" src="{% static 'images/logo.svg' %}" alt=""></a>
                            <h4 class="card-title mt-3">{% trans 'Reset Password' %}</h4>
                        </div>
                        <div class="auth-form card">
                            <div class="card-body">
                                {% load i18n %}
                                {% load account %}
                                <form method="POST" action="{% url 'account_reset_password' %}"class="password_reset row g-3">
                                    {% csrf_token %}
                                    {% if request.method.lower == 'post' %}
                                    <p class="text-danger">
                                        {% trans 'The e-mail address is not assigned to any user account' %}
                                    </p>
                                    {% endif %}
                                    <div class="col-12">
                                        <label class="form-label">{% trans 'Email' %}</label>

                                        <input type="email" name="email"  required class="form-control" placeholder="***********">
                                    </div>
                                    <div class="text-center mt-4">
                                        <button type="submit" class="btn btn-primary btn-block">{% trans 'Submit' %}</button>
                                    </div>
                                </form>
                                <div class="new-account mt-3">
                                    <p>{% trans "Don't get code" %}? <a class="text-primary" href="{% url 'reset' %}">{% trans 'Resend' %}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'js/scripts.js' %}"></script>
    <script>

    </script>
</body>

</html>
