{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Qash - {% trans 'Crypto Exchange Dashboard UI Kit' %}t</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
    <!-- Custom Stylesheet -->

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div id="preloader"><i>.</i><i>.</i><i>.</i></div>
    <div id="main-wrapper">
        <div class="verification">
            <div class="container h-100">
                <div class="row justify-content-center h-100 align-items-center">
                    <div class="col-xl-5 col-md-6">
                        <div class="text-center mb-4">
                            <a href="{% url 'home:intro' %}"><img height="50px" width="50px" src="{% static 'images/logo.svg' %}" alt=""></a>
                            <h1 class="card-title mt-3">{% trans "Password Changed" %}</h1>
                        </div>
                        <div class="auth-form card">
                            <div class="card-body">
                                {% load i18n %}
                                {% load account %}
                                <div class="row justify-content-center">
                                    <h5 class="text-center pb-4">{% trans "Your password is changed successfully!" %}</h5>
                                    <a href="{% url 'home:account_login' %}" class="text-center btn btn-primary">{% trans "Login Now" %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script>

    </script>
</body>

</html>
