{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Qash - {% trans 'Crypto Exchange Dashboard UI Kit' %}</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
    <!-- Custom Stylesheet -->

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div id="preloader"><i>.</i><i>.</i><i>.</i></div>

    <div id="main-wrapper">

        <!-- START OF HEADER -->
        {% include 'partials/_header.html' %}
        <!-- END OF HEADER -->

        <!-- START OF SIDEBAR -->
        {% include 'partials/_sidebar.html' %}
        <!-- END OF SIDEBAR -->

        <div class="content-body">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12 col-xl-12">
                        <div class="page-title">
                            <h4>Profile</h4>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                {% include 'partials/settings_menu.html' %}
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">{% trans 'User Profile' %}</h4>
                                            </div>
                                            <div class="card-body">
                                                <form action="{% url 'update_profile' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                                                <div class="row g-3">
                                                    <div class="col-xxl-12">
                                                        <label class="form-label">{% trans 'Your Name' %}</label>
                                                        <input type="text" class="form-control" name="name" placeholder="Name">
                                                    </div>
                                                    <div class="col-xxl-12">
                                                        <div class="d-flex align-items-center">
                                                            <img class="mr-3 rounded-circle mr-0 mr-sm-3"
                                                                src="{% if user.image %}{{ user.image.url }}{% else %}{% static 'images/profile/profile_dk.png' %}{% endif %}" width="55" height="55"
                                                                alt="">
                                                            <div class="media-body">
                                                                <h4 class="mb-0">{{ user.get_full_name }}</h4>
                                                                <p class="mb-0">{% trans 'Max file size is 20mb' %}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xxl-12">
                                                        <div class="form-file">
                                                            <input type="file" name="image" class="form-file-input"
                                                                id="customFile">
                                                            <label class="form-file-label" for="customFile">
                                                                <span class="form-file-text">{% trans 'Choose file for User Profile' %}...</span>
                                                                <span class="form-file-button">{% trans 'Browse' %}</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-xxl-12">
                                                        <button class="btn btn-success waves-effect">{% trans 'Save' %}</button>
                                                    </div>
                                                </div>
                                            </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                                      <br>
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">{% trans 'Change Password & Email' %}</h4>
                                            </div>
                                            <div class="card-body">
                                                <div style="height:15px !important;">
                                                {% if request.method == "POST" %}
                                                <span class="text-danger hide">
                                                    {% trans 'Invalid Current or New Password! Please Try Again' %}.
                                                </span>
                                                {% else %}
                                                <span class="hide">
                                                    <i>{% trans 'Password Changed Successfully' %}!</i>
                                                </span>
                                                {% endif %}
                                                </div>

                                                <!--  Change Password  -->
                                                 {% if user.has_usable_password %}
                                                 <form action="{% url 'account_change_password' %}" method="POST">{% csrf_token %}
                                                    <div class="row g-3">
                                                        <div class="col-xxl-12">
                                                            <label class="form-label">{% trans 'Current Password' %}</label>
                                                            <input type="password" required name="oldpassword" class="form-control"
                                                                placeholder="**********">
                                                        </div>
                                                        <div class="col-xxl-12">
                                                            <label class="form-label">{% trans 'New Password' %}</label>
                                                            <input type="password" required name="password1" class="form-control"
                                                                placeholder="**********">
                                                        </div>
                                                        <div class="col-xxl-12">
                                                            <label class="form-label">{% trans 'Confirm New Password' %}</label>
                                                            <input type="password" required name="password2" class="form-control"
                                                                placeholder="**********">
                                                        </div>
                                                        <div class="col-12">
                                                            <button class="btn btn-success waves-effect" type="submit">{% trans 'Save' %}</button>
                                                        </div>
                                                    </div>
                                                </form>
                                                 {% else %}
                                                 <form action="{% url 'account_set_password' %}" method="POST">{% csrf_token %}
                                                   <div class="row g-3">
                                                        <div class="col-xxl-12">
                                                            <label class="form-label">{% trans 'Set Password' %}</label>
                                                            <input type="password" required name="password1" class="form-control"
                                                                placeholder="**********">
                                                        </div>
                                                        <div class="col-xxl-12">
                                                            <label class="form-label">{% trans 'Confirm Password' %}</label>
                                                            <input type="password" required name="password2" class="form-control"
                                                                placeholder="**********">
                                                        </div>
                                                        <div class="col-12">
                                                            <button class="btn btn-success waves-effect" type="submit">
                                                                {% trans 'Save' %}</button>
                                                        </div>
                                                    </div>
                                                 </form>
                                                 {% endif %}

                                                <br>
                                                <!--  Change Email  -->
                                                <form action="{% url 'change_email' %}" method="POST">{% csrf_token %}
                                                    <div class="row g-3">
                                                        <div class="col-xxl-12">
                                                            {% if msg %}
                                                            <span class="text-danger pt-2 pb-1" id="jumpHere">
                                                                {{ msg }}
                                                            </span><br>
                                                            {% endif %}
                                                            <label class="form-label">{% trans 'Current Email' %}</label>
                                                            <input name="email" type="email" class="form-control"
                                                                placeholder="Email">
                                                        </div>
                                                        <div class="col-xxl-12">
                                                            <label class="form-label">{% trans 'New Email' %}</label>
                                                            <input name="new_email" type="email" class="form-control"
                                                                placeholder="Email">
                                                        </div>
                                                        <div class="col-12">
                                                            <button class="btn btn-success waves-effect">Save</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>



    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'js/scripts.js' %}"></script>
    <script>
        $(function() {
         $('html, body').animate({
            scrollTop: $('#jumpHere').offset().top}, 1000);
        });

        // hide
         $('.hide').delay(2500).hide(1300);
    </script>
</body>

</html>
