<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Qash - Crypto Exchange Dashboard UI Kit</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
    <!-- Custom Stylesheet -->

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div id="preloader"><i>.</i><i>.</i><i>.</i></div>

    <div id="main-wrapper">
      <!-- START OF HEADER -->
      {% include 'partials/_header.html' %}
      <!-- END OF HEADER -->

      <!-- START OF SIDEBAR -->
      {% include 'partials/_sidebar.html' %}


        <div class="content-body">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Portfolio </h4>
                            </div>
                            <div class="card-body">


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>



    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'js/scripts.js' %}"></script>
    <script>

    </script>
</body>

</html>
